$header-height:60px;
$btn-width: 200px;
$btn-height: 40px;
.header{
  height: $header-height;
  border: 2px solid gray;
  .header-title{
    height: $header-height;
    font-size: 30px;
    margin-top: 0px;
    color: rgb(20, 20, 29);
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    .header-button {
      min-width: $btn-width;
      height: $btn-height;
      padding: 10px 20px;
      background-color:red;
      color: white;
      font-weight: bold;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        border: 2px solid gray;
        background-color: white;
        color: gray;
      }
    }
    .login-button{
      margin-left: 10px;
    }
  }
}