.container {
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 48em) {
    width: 49rem;
  }
  @media only screen and (min-width: 64em) {
    width: 65rem;
  }
  @media only screen and (min-width: 75em) {
    width: 76rem;
  }
}